
body, a, div, table, th, td, span, p, font, li, h1, h2, h3, h4, h5, input, select, textarea {
    font-family: 'Noto Sans KR', 'Nanum Gothic' !important;
    outline: none;
    color: #5d4f42;
}
body {
}
body {
    color: #5d4f42;
    font-family: 'Noto Sans KR',Malgun Gothic,"맑은 고딕",AppleGothic,Dotum,"돋움",sans-serif;
    font-size: 12px;
    line-height: 1.4;
}
* {
    margin: 0;
    padding: 0;
}

body {
    display: block;
    margin: 8px;
}
link {
    display: none;
}
#wrap {
    width: 100%;
    min-width: 1000px;
}
#top.header {
    position: relative;
}
.PJ_head {
    clear: both;
    width: 100%;
    position: relative;
    z-index: 100;
}
div {
    display: block;
}

.PJ_head {
    clear: both;
    width: 100%;
    position: relative;
    z-index: 100;
}
.PJ_head_1 {
    clear: both;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.PJ_head_1 .container {
    margin: 30px auto 0;
    max-width: 980px;
}
.container {
    width: 100%;
    min-width: 980px;
}
.container {
    position: relative;
}
.PJ_head_1 .container h1 {
    float: left;
    position: relative;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.PJ_head_1 .container h1 a {
    font-family: 'Noticia Text' !important;
    line-height: 52px;
    font-size: 26px;
    color: #999999;
    font-weight: bold;
}
.PJ_head_1 .container h1 img {
    position: relative;
}
img {
    border: none;
    vertical-align: top;
}
* {
    margin: 0;
    padding: 0;
}
.PJ_head_1 .container h1 {
    float: left;
    position: relative;
}
.container:after {
    content: "";
    display: block;
    clear: both;
}
.PJ_head_1 .container {
    margin: 30px auto 0;
    max-width: 980px;
}
.container {
    width: 100%;
    min-width: 980px;
}
.container {
    position: relative;
}
.PJ_head_1 {
    clear: both;
    width: 100%;
    box-sizing: border-box;
}
.PJ_head_2 {
    width: 100%;
    clear: both;
    position: relative;
}
.PJ_head_2 .container {
    max-width: 980px;
    margin: 0 auto 20px;
}
.container {
    width: 100%;
    min-width: 980px;
}
.container {
    position: relative;
}
.PJ_head_2 .lnb {
    float: left;
}
<!-- 사이드 카테고리 시작 



.PJ_head_2 .lnb > .category {
    float: left;
    padding: 0px 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul, ol, li {
    list-style: none;
}
* {
    margin: 0;
    padding: 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.PJ_head_2 .lnb > .category.type-jnn > li {
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul, ol, li {
    list-style: none;
}
* {
    margin: 0;
    padding: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.PJ_head_2 .lnb > .category.type-jnn > li > a {
    display: block;
    font-family: 'Yantramanav' !important;
    color: #5d4f42;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    padding-right: 38px;
    cursor: pointer;
}
.PJ_head_2 .lnb > .category.type-jnn > li > ul > li {
    
    box-sizing: border-box;
}
.PJ_head_2 .lnb > .category.type-jnn > li > ul > li a {
    display: block;
    font-family: 'Yantramanav' !important;
    color: #beb9b4;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    transition: all 0.3s ease-out;
}
.PJ_head_2 .lnb > .category.type-jnn > li > ul {
    z-index: 10;
    position: absolute;
    overflow: hidden;
    height: 0px;
    transition: all 0.3s ease-out;
}
ul, ol, li {
    list-style: none;
}
hr {
    display: none;
}
* {
    margin: 0;
    padding: 0;
}
hr {
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
#PJ_category_blank {
    clear: both;
    position: relative;
    overflow: hidden;
    height: 0px;
    transition: all 0.3s ease-out;
}
.PJ_head_2 .lnb {
    float: left;
}
.PJ_head_2 .PJ_board > ul {
    float: right;
}
ul, ol, li {
    list-style: none;
}
* {
    margin: 0;
    padding: 0;
}
ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.PJ_head_2 .PJ_board ul li:first-child {
    background: none;
}
.PJ_head_2 .PJ_board > ul > li {
    position: relative;
    float: left;
    margin-right: 20px;
    box-sizing: border-box;
}
.PJ_head_2 .PJ_board > ul > li > a {
    display: block;
    font-family: 'Yantramanav' !important;
    color: #ccb355;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    cursor: pointer;
}
.PJ_head_2 .PJ_board > ul > li:nth-child(2) {
    width: 60px;
    margin-right: 0;
}
.PJ_head_2 .PJ_board > ul > li {
    position: relative;
    float: left;
    box-sizing: border-box;
}
.container:after {
    content: "";
    display: block;
    clear: both;
}
#container {
}
#container {
}
#container {
    clear: both;
    width: 980px;
    margin: 0 auto;
    min-height: 430px;
}
#container {
    display: table;
    table-layout: fixed;
    position: relative;
    width: 1000px;
    min-height: 100%;
    margin: 0 auto;
}
#container > #content {
    padding: 0px 0 0 0;
    display: table-cell;
    width: 100%;
    vertical-align: top;
}
#container > #content .PJ_content {
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}
.PJ_main_video {
    clear: both;
    position: relative;
}

.PJ_main_video div.up {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
img {
    border: none;
    vertical-align: top;
}
* {
    margin: 0;
    padding: 0;
}
.PJ_main_video div.side_line1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 655px;
    width: 1px;
    background-color: #ffffff;
}
.PJ_main_video div.side_line2 {
    position: absolute;
    top: 0;
    right: 0;
    height: 655px;
    width: 1px;
    background-color: #ffffff;
}
.PJ_main_video div.down {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}
.slider-banner-850794755 {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}
.slider-wrap {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slider-wrap .slick-track, .slider-wrap .slick-list {
    transform: translate3d(0, 0, 0);
}
.slider-wrap .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
element.style {
    height: 613px;
}
element.style {
    opacity: 1;
    width: 980px;
    transform: translate3d(0px, 0px, 0px);
}
.slider-wrap .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slider-wrap .slick-track:before, .slider-wrap .slick-track:after {
    display: table;
    content: '';
}
element.style {
    width: 980px;
}
.slider-wrap .slick-slide {
    display: block;
}
.slider-wrap .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
}
.slider-banner-850794755 .slick-slide img {
    width: 100%;
    position: static !important;
    top: 0px !important;
}
.slider-wrap .slick-slide img {
    display: block;
}
img {
    border: none;
    vertical-align: top;
}
.slider-wrap .slick-track:after {
    clear: both;
}
.slider-wrap .slick-track:before, .slider-wrap .slick-track:after {
    display: table;
    content: '';
}
.PJ_main_memo {
    clear: both;
    display: inline-block;
    position: relative;
    font-size: 25px;
    font-family: 'Yantramanav' !important;
    color: #5d4f42;
    font-weight: 100;
    text-align: center;
    margin: 130px auto 0px;
}
.PJ_main_banner {
    clear: both;
    text-align: center;
    margin: 120px auto 0;
}
.PJ_main_banner span {
    display: inline-block;
    margin: 0 45px;
}
#container:after {
    content: "";
    display: block;
    clear: both;
}
#footer {
    position: relative;
    z-index: 11;
    padding: 0;
}
.PJ_foot {
    clear: both;
    text-align: center;
    margin: 50px 0px 0 0px;
    width: auto;
    min-width: 980px;
}
    #footer .container {
        display: table;
    }
    .PJ_foot .container {
        clear: both;
        text-align: left;
        width: 980px;
        margin: 0 auto;
    }
    .container {
        
        min-width: 980px;
    }
    .container {
        position: relative;
    }
    .PJ_foot_info {
        clear: both;
        margin-bottom: 10px;
    }
    .PJ_foot_1 {
        float: left;
    }
    .PJ_foot_1 div a {
        color: #ccb355;
        font-family: 'Yantramanav' !important;
        font-weight: 300;
        font-size: 15px;
    }
    .PJ_foot_1 ul {
        clear: both;
        text-align: left;
    }

    .PJ_foot_1 ul li {
        display: inline-block;
        padding: 10px 0;
        text-align: center;
    }
    .PJ_foot_1 ul li:first-child a {
        border-left: 0;
        padding-left: 0;
    }
    .PJ_foot_1 ul li a {
        display: block;
        padding: 0 0 0px 0px;
        font-family: 'Yantramanav' !important;
        font-weight: 300;
        color: #5d4f42;
        font-size: 11px;
    }
    .PJ_foot_1 ul li:nth-child(2) {
        padding: 10px 8px;
        font-family: 'Yantramanav' !important;
        font-weight: 300;
        color: #5d4f42;
        font-size: 11px;
    }
    .PJ_foot_1 ul li {
        display: inline-block;
        text-align: center;
    }
    .PJ_foot_3 {
        float: right;
        margin: 0;
        display: block !important;
    }
    #footer .container .policy {
        font-size: 11px;
    }
    #footer .container .policy, #footer .container .logo {
        vertical-align: middle;
}
.PJ_foot_3 .policy {
    clear: both;
    padding: 0 !important;
    margin: 0 0px 0 0 !important;
    display: block !important;
    text-align: right;
    line-height: 14px !important;
}
.PJ_foot_3 .policy ul li {
    font-weight: normal !important;
    font-family: 'Noto Sans KR' !important;
    font-size: 10px;
    color: #beb9b4;
    display: inline-block;
    float: none !important;
    padding: 0 5px !important;
}
.PJ_foot_3 .policy ul li {
    font-weight: normal !important;
    font-family: 'Noto Sans KR' !important;
    font-size: 10px;
    color: #beb9b4;
    display: inline-block;
    float: none !important;
    padding: 0 5px !important;
}
.PJ_foot_1 ul li:first-child a {
    border-left: 0;
    padding-left: 0;
}
.PJ_foot_1 ul li a {
    display: block;
    padding: 0 0 0px 0px;
    font-family: 'Yantramanav' !important;
    font-weight: 300;
    color: #5d4f42;
    font-size: 11px;
}
.PJ_foot_1 ul li a {
    display: block;
    padding: 0 0 0px 0px;
    font-family: 'Yantramanav' !important;
    font-weight: 300;
    color: #5d4f42;
    font-size: 11px;
}